/* brand colors */
$color-brand-600: #747;
$color-brand-100: #f1ecf1;
/* neutral colors */
$color-neutral-800: #333;
$color-neutral-500: #777;
$color-neutral-400: #999;
$color-neutral-200: #ccc;
$color-neutral-100: #ddd;
$color-neutral-050: #fafafa;
$color-neutral-000: #fff;
/* functional colors */
$color-error-800: #a1031d;
$color-error-300: #c90;
