@import '../../constants/colors.scss';

.radiofield {
  $c: &;
  display: inline-block;
  margin: 1rem 1.5rem 1rem 0;
  vertical-align: top;

  #{$c}:last-child {
    margin-right: 0;
  }

  #{$c}__input_radio {
    display: none;
  }

  #{$c}__content {
    display: block;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  #{$c}__label {
    display: block;
    margin: 1rem 0 0 0;
    font-size: 0.9rem;
    text-align: center;
    white-space: pre-wrap;
    color: $color-neutral-500;
  }

  #{$c}__shape {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 6rem; 
    height: 6rem;
    padding: 0.5rem;
    border: 4px solid $color-neutral-500;
    background: $color-neutral-050;
  }

  #{$c}__shape_out {
    border-style: double;
  }

  #{$c}__shape_round_pan {
    border-radius: 50%;
  }

  #{$c}__shape_servings {
    border-radius: 25%;
  }

  #{$c}__input_text {
    flex: 3;
    font-size: 1.4rem;
    border: none;
    text-align: center;
    background: transparent;
    color: $color-neutral-500;
    outline: none;
  }

  #{$c}__sublabel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: $color-neutral-400;
    font-size: 0.7rem;
    letter-spacing: -1px;
  }

  #{$c}__content:active {
    background: transparent;
  }

  #{$c}__content:hover {
    #{$c}__shape { 
      border-color: $color-neutral-800;
      transition: all 0.1s ease-in;
    }

    #{$c}__label, #{$c}__input_text { 
      color: $color-neutral-800; 
      transition: all 0.1s ease-in;
    }

    #{$c}__sublabel { 
      color: $color-neutral-500;
      transition: all 0.1s ease-in;
    }
  }

  #{$c}__input_radio:checked + #{$c}__content {
    #{$c}__shape {
      border-color: $color-brand-600;
      background: $color-brand-100;
    }

    #{$c}__label {
      color: $color-brand-600;
      font-weight: bold;
    }

    #{$c}__input_text {
      color: $color-neutral-800;
    }

    #{$c}__sublabel {
      color: $color-neutral-500;
    }
  }

  #{$c}__input_radio:disabled + #{$c}__content {
    cursor: not-allowed;
    user-select: none;

    &:active {
      animation: swing 0.2s ease;
      animation-iteration-count: 1;
    }

    #{$c}__shape {
      border-color: $color-neutral-200;
    }

    #{$c}__label,
    #{$c}__sublabel {
      color: $color-neutral-200;
      font-weight: normal;
    }

    #{$c}__input_text {
      cursor: not-allowed;
      pointer-events: none;
      opacity: 1;
      color: $color-neutral-200;
      -webkit-text-fill-color: $color-neutral-200;
    }
  }

  #{$c}__input_radio:invalid + #{$c}__content {
    #{$c}__shape { 
      border-color: $color-error-800 !important; 
      transition: all 0.1s ease-in;
    }

    #{$c}__label,
    #{$c}__sublabel { 
      color: $color-error-800 !important; 
      transition: all 0.1s ease-in;
    }
  }

  #{$c}__input_radio_empty:invalid + #{$c}__content {
    #{$c}__shape { 
      border-color: $color-error-300 !important; 
      transition: all 0.1s ease-in;
    }

    #{$c}__label,
    #{$c}__sublabel { 
      color: $color-error-300 !important; 
      transition: all 0.1s ease-in;
    }
  }
}

@keyframes swing {
  15% { transform: translateX(3px); }
  30% { transform: translateX(-3px); }
  50% { transform: translateX(2px); }
  65% { transform: translateX(-2px); }
  80% { transform: translateX(1px); }
  100% { transform: translateX(0); }
}
