.radiofield {
	display: inline-block;
	margin: 1rem 3rem 1rem 0;
	vertical-align: top;
}

.radiofield__input_radio {
	display: none;
}

.radiofield__content {
	display: block;
	cursor: pointer;
}

.radiofield__label {
	display: block;
	margin: 1rem 0;
	text-align: center;
	white-space: pre-wrap;
	color: #777;
}

.radiofield__shape {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 7rem; 
	height: 7rem;
	padding: 1rem;
	border: 4px solid #777; 
	background: #fafafa;
}

.radiofield__input_text {
	flex: 3;
	font-size: 1.7rem;
	border: none;
	text-align: center;
	background: transparent;
	color: #999;
	outline: none;
}

.radiofield__sublabel {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	color: #aaa;
	font-size: 0.8rem;
	letter-spacing: -0.5px;
}

.radiofield__shape_round_pan {
	border-radius: 50%;
}

.radiofield__shape_servings {
	border-radius: 25%;
	border: 4px dashed #777;
}

.radiofield__content:hover {
	.radiofield__shape { 
		border-color: #333;
		transition: all 0.1s ease-in;
	}

	.radiofield__label, .radiofield__input_text { 
		color: #333; 
		transition: all 0.1s ease-in;
	}

	.radiofield__sublabel { 
		color: #777;
		transition: all 0.1s ease-in;
	}
}

.radiofield__input_radio:checked + .radiofield__content {
	.radiofield__shape {
		border-color: #747;
	}

	.radiofield__label {
		color: #747;
		font-weight: bold;
	}

	.radiofield__input_text {
		color: #333;
	}

	.radiofield__sublabel {
		color: #777;
	}
}

.radiofield__input_radio:disabled + .radiofield__content {
	cursor: not-allowed;

	.radiofield__shape {
		border-color: #ccc;
	}

	.radiofield__label {
		color: #ccc;
		font-weight: normal;
	}

	.radiofield__input_text {
		color: #ccc;
		cursor: not-allowed;
	}
}

.radiofield__input_radio:invalid + .radiofield__content {
	.radiofield__shape { 
		border-color: red !important; 
		transition: all 0.1s ease-in;
	}

	.radiofield__label,
	.radiofield__sublabel { 
		color: red !important; 
		transition: all 0.1s ease-in;
	}
}
