@import './constants/colors.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Arial Unicode",Arial,Helvetica,sans-serif;
  color: $color-neutral-800;
  background: $color-neutral-000;
}

h1, h2, h3, h4, h5, h6 {
  margin: 2rem 0;
}

h1 {
  color: $color-brand-600;
  font-size: 2.2rem;
  animation: falling 0.1s ease;
  animation-iteration-count: 1;
}

p {
  margin: 1rem 0;
  line-height: 1.5;
}

a[href^="#"] {
  color: inherit;
  text-decoration: underline;
  text-decoration-style: dashed;
}

hr {
  width: 100%;
  height: 0;
  margin: 2rem 0;
  border: none;
  border-top: 2px solid $color-neutral-100;
}

@keyframes falling {
  0% { transform: translateY(-50px); }
  20% { transform: translateY(-25px); }
  40% { transform: translateY(-12px); }
  60% { transform: translateY(-6px); }
  80% { transform: translateY(-3px); }
  100% { transform: translateY(0); }
}
